In [1]:
import pandas as pd

In [2]:
df = pd.read_json('contacts.json')
df.shape

(500000, 5)

In [14]:
df_test = df.sample(500)
df_test.shape

(500, 5)

In [3]:
df.head()

   Id               Email         Phone  Contacts                    OrderId
0   0      gkzAbIy@qq.com                       1
1   1                      329442681752         4  vDDJJcxfLtSfkooPhbYnJdxov
2   2                        9125983679         0
3   3  mdllpYmE@gmail.com                       0  bHquEnCbbsGLqllwryxPsNOxa
4   4                         300364407         2

In [4]:
emails = df.groupby('Email', observed=False).count()

In [5]:
emails.head()

                                 Id   Phone  Contacts  OrderId
Email
                             151394  151394    151394   151394
AAAQbNfGbLAeOvw@hotmail.com       2       2         2        2
AAAgyKTteOjasN@qq.com             1       1         1        1
AABZmKeEldvO@gmail.com            1       1         1        1
AABneiGcqcz@qq.com                1       1         1        1

In [6]:
df.Email[df.Email == ''].count()

151394

In [7]:
df.Phone[df.Phone == ''].count()

254919

In [8]:
df.isnull().sum()

Id          0
Email       0
Phone       0
Contacts    0
OrderId     0
dtype: int64

In [9]:
df.duplicated(subset=['Phone']).sum()

309322

In [10]:
df.duplicated(subset=['Email']).sum()

250843

In [11]:
# df[['ticket_id', 'ticket_trace/contact']] = ""
# df.head()

In [12]:
# emails.shape

(249157, 4)

In [30]:
user_email = {}

In [31]:
for index, col in df.iterrows():
    if col['Email'] not in user_email:
        user_email[col['Email']] = 1
    else: 
        user_email[col['Email']] += 1

In [38]:
counts = pd.DataFrame.from_dict(user_email, orient='index')
# counts.head()
counts.rename(columns={0:'email_count'}, inplace=True)

In [40]:
counts.sort_values(by='email_count')

                                email_count
gkzAbIy@qq.com                            1
pRPchGCTAayITu@gmail.com                  1
eLfMHWfNPOF@hotmail.com                   1
tUOvmfrusvMZWF@yahoo.com                  1
dKxUcseSjOzu@hotmail.com                  1
...                                     ...
cNOClXNUqeYiWUPu@hotmail.com              7
EacGcUDVEcfjDh@hotmail.com                7
CTZmhZeinbwjkCDNZl@hotmail.com            7
joeiBlUUXIEsEBHp@yahoo.com                8
                                     151394

[249157 rows x 1 columns]

In [ ]:
user_phone = {}
for index, col in df.iterrows():
    if col['Phone'] not in user_d:
        user_phone[col['Phone']] = 1
    else: 
        user_phone[col['Phone']] += 1
phone_df = pd.DataFrame.from_dict(user_phone, orient='index')